<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de alunos</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">
    <% if(status == "1"){ %>
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        Aluno cadastrado com <b>sucesso!</b></div>
    <% } %>

    <% if(status == "2"){ %>
        <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        Aluno removido com <b>sucesso!</b></div>
    <% } %>

    <% if(status == "3"){ %>
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        Aluno atualizado com <b>sucesso!</b></div>
    <% } %>

    <a href="/alunos/cadastrar" class="btn btn-success">Cadastrar novo aluno</a>
    
    <h1>Relatório de alunos</h1>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Detalhar</th>
                    <th>Atualizar</th>
                    <th>Excluir</th>
                    
                </tr>
            </thead>
            <tbody>
            <% alunos.forEach(aluno => { %>
            <tr>
                <td><%= aluno.matricula %></td>
            
                <td><%= aluno.nome %></td>
           
                <td><%= aluno.curso %></td>

                <td><a href="/alunos/ <%=aluno.matricula%>" class="btn btn-info">Detalhar</a></td>

                <td><a href="/alunos/atualizar/<%=aluno.matricula%>" class="btn btn-warning">Atualizar</a></td>

                <td><a href="/alunos/excluir/<%=aluno.matricula%>" onclick="return confirm('Deseja realmente excluir')" class="btn btn-danger">Excluir</a></td>

            </tr>
            <%}); %>
        </tbody>
        </table>


    <a href="/" class="btn btn-primary">Voltar</a>
</div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>