<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Filmes</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">
    <% if(status == "1"){ %>
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        Filme cadastrado com <b>sucesso!</b></div>
    <% } %>

    <% if(status == "2"){ %>
        <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        Filme removido com <b>sucesso!</b></div>
    <% } %>

    <% if(status == "3"){ %>
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        Filme atualizado com <b>sucesso!</b></div>
    <% } %>

    <a href="/filme/cadastrar" class="btn btn-success">Cadastrar novo filme</a>
    
    <h1>Relatório de filmes</h1>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do filme</th>
                    <th>Ano de lançamento</th>
                    <th>Detalhar</th>
                    <th>Atualizar</th>
                    <th>Excluir</th>
                    
                </tr>
            </thead>
            <tbody>
            <% filme.forEach(filme => { %>
            <tr>
                <td><%= filme.cdg %></td>
            
                <td><%= filme.nomefilme %></td>
           
                <td><%= filme.anolancamento %></td>

                <td><a href="/filme/ <%=filme.cdg%>" class="btn btn-info">Detalhar</a></td>

                <td><a href="/filme/atualizar/<%=filme.cdg%>" class="btn btn-warning">Atualizar</a></td>

                <td><a href="/filme/excluir/<%=filme.cdg%>" onclick="return confirm('Deseja realmente excluir')" class="btn btn-danger">Excluir</a></td>

            </tr>
            <%}); %>
        </tbody>
        </table>


    <a href="/" class="btn btn-primary">Voltar</a>
</div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>